@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --card-bg: #09090b;
  /* Zinc-950 */
  --border: #27272a;
  /* Zinc-800 */
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .font-mono-numbers {
    font-feature-settings: "tnum" on, "lnum" on, "zero" on;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

/* Base styles for inputs to reset browser defaults */
input {
  background: transparent;
  outline: none;
}